#用来规范编辑器配置，不同编辑器之间通过安装editorconfig插件来在此工程目录下使用相同配置

root = true

[*]
charset = utf-8                 
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true