.todo-item[data-v-7cce3c73] {
  position: relative;
  background-color: #fff;
  font-size: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}
.todo-item .deleteBtn[data-v-7cce3c73] {
  position: absolute;
  width: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 30px;
  color: #cc9a9a;
  cursor: pointer;
  background-color: inherit;
}
.todo-item .deleteBtn[data-v-7cce3c73]:after {
  content: '';
  color: #cc9a9a;
  transition: color 0.5s linear;
}
.todo-item:hover .deleteBtn[data-v-7cce3c73]:after {
  content: 'X';
  color: #f00;
}
.todo-item .toggle[data-v-7cce3c73] {
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border: none;
  outline: none;
  margin: auto 0;
}
.todo-item .toggle[data-v-7cce3c73]:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iLTEwIC0xOCAxMDAgMTM1Ij48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZWRlZGVkIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
}
.todo-item .toggle[data-v-7cce3c73]:checked:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iLTEwIC0xOCAxMDAgMTM1Ij48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjYmRkYWQ1IiBzdHJva2Utd2lkdGg9IjMiLz48cGF0aCBmaWxsPSIjNWRjMmFmIiBkPSJNNzIgMjVMNDIgNzEgMjcgNTZsLTQgNCAyMCAyMCAzNC01MnoiLz48L3N2Zz4=);
}
.todo-item label[data-v-7cce3c73] {
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
}
.todo-item.completed label[data-v-7cce3c73] {
  color: #d9d9d9;
  text-decoration: line-through;
}

.helper {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  line-height: 30px;
  background-color: #fff;
  font-size: 14px;
  font-smoothing: antialiased;
}
.helper .clearBtn {
  background-color: inherit;
  font-color: inherit;
}
.left,
.clearBtn,
.tabs {
  padding: 0 10px;
  box-sizing: border-box;
}
.clearBtn,
.tabs {
  cursor: pointer;
}
.tabs {
  width: 300px;
  display: flex;
}
.tabs li {
  flex: 1;
  padding: 0 10px;
  text-align: center;
  border: 1px solid rgba(175,47,47,0);
}
.tabs li.filter {
  border-color: rgba(175,47,47,0.4);
  border-radius: 5px;
}

.section[data-v-197ebc4e] {
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 5px #666;
}
.section .add-input[data-v-197ebc4e] {
  width: 100%;
  font-size: 24px;
  font-weight: inherit;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  box-shadow: inset 0 -2px 1px 0 rgba(0,0,0,0.03);
  box-sizing: border-box;
  font-smoothing: antialiased;
  padding: 16px 16px 16px 60px;
}

